/* Variables */
/* Global */
* *::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  font-family: "Simonetta";
}

.section {
  padding: 96px;
}

/*Navigation*/
.navigation {
  font-family: "Spartan";
  position: relative;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
  color: white;
  margin-right: 180px;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 900;
}

.navigation li:hover {
  transform: scale(1.1);
  transition: all 1.5s;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: "Pacifico";
  text-align: left;
  height: 0;
  color: #8c7ae6;
  margin-left: 180px;
}

/*Splash*/
.splash {
  background-image: url(https://i.postimg.cc/tCZBYTKV/ecopetit-cat-musica-wallpaper-297508.jpg);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-position: center;
}

.splash:hover .splash-inner {
  opacity: 1;
  transition: all 1.5s;
}

.splash-inner {
  color: white;
  font-family: "Lacquer";
  text-align: center;
  padding-top: 100px;
  opacity: 0;
}

.circle {
  border-radius: 50%;
  background-color: red;
  width: 80px;
  height: 80px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
  display: -ms-flexbox;
  display: flex;
  margin-left: 500px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1.8, 1.8);
    opacity: 0;
  }
}

.page-subtitle-one {
  margin-top: 150px;
}

.page-subtitle-two {
  text-align: end;
  margin-top: -180px;
}

.page-subtitle-three {
  text-align: justify;
  margin-top: 100px;
  margin-left: -50px;
}

.page-subtitle-four {
  text-align: end;
  margin-top: 100px;
}

.page-subtitle-five {
  margin-top: 150px;
  margin-left: 80px;
}

/* Button Splash */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  text-align: center;
  font-family: "Spartan";
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #8c7ae6;
  color: white;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: -3;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
  opacity: 0.1;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.splash .btn {
  opacity: 0;
}

.splash:hover .btn {
  opacity: 1;
  transition: 2s all;
}

/*Services*/
.section-title {
  font-size: 30px;
  font-family: "Spartan";
  text-align: center;
}

.section-subtitle {
  font-size: 16px;
  font-family: "Simonetta";
  color: gray;
  font-style: italic;
  text-align: center;
  opacity: 0.9;
}

.services-icon {
  font-size: 36px;
  text-align: center;
  border: solid 4px;
  border-width: 10px;
  padding: 10px;
  border-radius: 75%;
  border-color: #8c7ae6;
}

.services-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  border-color: black;
  color: #8c7ae6;
  transition: all 1.5s;
}

.services-content {
  text-align: center;
}

.inside-section-title {
  font-size: 24px;
  font-family: "Spartan";
  font-style: italic;
  text-align: center;
}

/*Gallery*/
.gallery {
  background-color: #ecf0f1;
}

.gallery .section-subtitle {
  color: black;
}

.gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
  padding: 3px 3px 0 3px;
  margin: 8px 8px 0 8px;
}

.gallery-description {
  background-color: white;
  margin-left: 11px;
  margin-right: -5px;
  margin-top: -8px;
  opacity: 0;
}

.gallery-description h4 {
  font-size: 14px;
  margin: 0;
  padding: 6px 0 0;
}

.gallery-description p {
  margin-top: -5px;
  color: black;
}

.gallery-content:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 1.5s;
}

.gallery-content:hover .gallery-description {
  opacity: 1;
  cursor: pointer;
  transition: all 1.5s;
}
/*# sourceMappingURL=style.css.map */