/* Variables */
$font-title: "Bungee Shade";
$pixel-text: "VT323";
$content-text: "Simonetta";
/* Global */

* *::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  color: black;
  font-family: $content-text;
}

/*Navigation*/
.navigation {
  font-family: $content-text;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
}

.navigation li {
  display: inline-block;
  margin-right: 10px;
  text-align: left;
  font-size: 12px;
  font-weight: 900;
}

.navigation a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: $font-title;
  text-align: left;
  height: 0;
}

/*Logo span styles */

.p{
  color: #00a8ff;
}

.i {
  color: #fbc531 ;
}

.x {
  color: #4cd137;
}

.e {
  color: #8c7ae6;
}

.l {
  color: #e84118;
}
